h1 {
  font-family: Helvetica;
  font-size:100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.Brushes {
  font-family:Helvetica;
  font-size:32px;
  font-weight:bold;
  background-color: mediumspringgreen;
  color:white;

}


.Frames {
  font-family:Helvetica;
  font-size:32px;
  font-weight:bold;
  background-color: lightcoral;
  color:white;

}


.Paint {
  font-family:Helvetica;
  font-size:32px;
  font-weight:bold;
  background-color: skyblue;
  color:white;

}

h3{
  font-family:Helvetica;
  font-size:28px
  font-weight:bold
}


p {
  font-family:Helvetica;
  font-size:15px;

}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
